<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> </br>
    <!-- With your host: <%= author %> -->
  </p>

    <!-- <img src="https://www.datocms-assets.com/58478/1640019487-og-image.png" alt="Terraform" style="width:50%; height:50%"/> -->
  </body>
</html>
